{% extends "layouts/base.html" %}

{% block title %} Etapas {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--


FORMULARIO DE CAPITAL DE INVERSION


-->


<div class="content">
    <div class="container-fluid">
    	<div class="row">

    		<div class="col-md-12 d-flex flex-row-reverse">
            	<a href="table_tipo_prestamo" class="btn btn-primary">Ver Tipos de Prestamos</a>
            </div>

    		<div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                    	<h4 class="card-title">Capital de Operaciones</h4>
                        <p class="card-category">Formulario</p>
                    </div>


                    <!--  Aqui va el formulario -->



					        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
					            <h3>Registro de Capital de Operación</h3>
					            <!--p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
					                <h5 class="text-center mb-4">Powering world-class companies</h5-->


					                <form class="form-card" method="POST" class="post-form" action="/form_capital_prestamos_store">
					                	{% csrf_token %}

					                    <div class="row justify-content-between text-left">
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Tipo de Prestamo<span class="text-danger"> *  {{alert}}</span>
					                        	</label>
					                        	<select class="formu-input" id="tipo_prestamo" name="tipo_prestamo">
					                        		{% for tipo in tipoprestamo %}
					                        			<option value="{{tipo.id}}">{{tipo.name_tipo_prestamo}}</option>
					                        		{% endfor %}
					                        	</select>
					                        </div>
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Fecha de Prestamo<span class="text-danger"> *</span>
					                        	</label>
					                        	<input type="date" class="formu-input" id="fecha_prestamo" name="fecha_prestamo">
					                        </div>
					                    </div>
					                    <div class="row justify-content-between text-left">
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Tiempo de Prestamo<span class="text-danger"> *</span>
					                        	</label>
					                        	<input type="number" step="1" min="0" class="formu-input" id="tiempo_prestamo" name="tiempo_prestamo" onblur="validate(2)">
					                        </div>
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Taza de Interes<span class="text-danger"> *</span>
					                        	</label>
					                        	<input type="number" step="0.10" class="formu-input" id="taza_interes_prestamo" name="taza_interes_prestamo" onblur="validate(2)">
					                        </div>
					                    </div>
					                    <div class="row justify-content-between text-left">
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Monto del Prestamo<span class="text-danger"> *</span>
					                        	</label>
					                        	<input type="number" step="0.1" min="0" class="formu-input" id="monto_solicitado_prestamo" name="monto_solicitado_prestamo" onblur="validate(2)">
					                        </div>
					                        <div class="form-group col-sm-6 flex-column d-flex">
					                        	<label class="form-control-label px-3">Firma del Prestamo<span class="text-danger"> *</span>
					                        	</label>
					                        	<input type="number" step="0.10" class="formu-input" id="firma_prestamo" name="firma_prestamo" onblur="validate(2)">
					                        </div>
					                    </div>
					                    <div class="row justify-content-end">
					                        <div class="form-group col-sm-6"> <button type="submit" class=" btn-primary formu-input">Registrar Capital Prestamo</button> </div>
					                    </div>
					                </form>

					        </div>



                </div>
            </div>

    	</div>
    </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}