{% extends "layouts/base.html" %}

{% block title %} Etapas {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--


PAGINA DE LAS ETAPAS DE UN USUARIO

BOTON PARA CAMBIAR EL STATUS DE LA ETAPA SI ESTA APROBADA O NO


-->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 d-flex flex-row-reverse">
                    <a href="form_capital_operaciones" class="btn btn-primary">Crear Capital de Operación</a>
                </div>
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Capital de Operaciones</h4>
                            <p class="card-category">Información</p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>ID</th>
                                    <th>Capital de Inversión</th>
                                    <th>Moneda</th>
                                    <th>Monto</th>
                                    <th>Status</th>
                                    <th>Operación USD</th>
                                    <th>Operación RD$</th>
                                </thead>
                                <tbody>
                                    {% for capital in capitalinversion %}
                                    <tr>
                                        <td>{{ capital.id }}</td>
                                        <td>
                                                        {% for item in usuario %}
                                                            {% if capital.id_user == item.id %}
                                                                {{ item.username }}
                                                            {% endif %}
                                                        {% endfor %}


                                        </td>
                                        <td>{{ capital.moneda_inversion }}</td>
                                        <td>{{ capital.monto_inversion }}</td>
                                        <td>
                                            {% if capital.status_inversion == 1 %}
                                                Activo
                                            {% elif capital.status_inversion == 0 %}
                                                Inactivo
                                            {% endif %}
                                        </td>
                                        <td>

                                            {% if capital.moneda_inversion == 1 %}
                                                {{cap_usd}}
                                            {% endif %}


                                            <!--a href="destroyCapital/{{capital.id}}/2" class="pl-2">
                                                <button class="btn btn-danger">Eliminar</button>
                                            </a-->

                                        </td>
                                        <td>
                                            {% if capital.moneda_inversion == 2 %}
                                                {{cap_rd}}
                                            {% endif %}

                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
